#accordion .card .card-header h5 button{
  width: 100%;
  text-align: left;
  text-decoration: none;
}

.b-icon > button {
  display: block;
  position: relative;
}

.b-icon > button:after {
  content: "\e958";
  font-family: 'bradesco_v2';
  position: absolute;
  right: 0;
  font-size: 23px;
}

.b-icon > button[aria-expanded="true"]:after {
  content: "\e96d";
  font-size: 23px;
}
